<!DOCTYPE html>
<html>
<body>
<h1>Select Company or Make</h1>
<select [(ngModel)]="selectedCompany" (ngModelChange)="onChange($event)">
  <option [ngValue]="company" *ngFor="let company of company"><div *ngIf="company.is_in_navigation">{{company.make}}</div></option> 
</select>
<div *ngIf="selectedCompany.is_in_navigation">
<select [(ngModel)]="carModels">
  <option [ngValue]="model" *ngFor="let model of models; let i = index">{{model.model}}</option> 
</select>
<p>{{carModels.name}}</p>
<img *ngIf="carModels.is_in_navigation" src={{carModels.image}}>
</div>
</body>
</html>
