/* You can add global styles to this file, and also import other style files */
body{max-width: 960px;width: 100%;margin: auto;background-image: url(/assets/images/color-splash.jpg);padding: 15px;
background-position: center;background-repeat: no-repeat;min-height: 500px;}
